.b1{
     color: green; /*встановлюємо колір*/
   }
     .b1:hover {
    color: red;  /*
текс змінює колір при наведенні*/
    } 
div{
  display: flex; /*загальний блок/Гнучкий контейнер стає гнучкий, якщо встановити для display властивості значення flex*/
}
.b1{
  flex: auto; /*auto
Вказує автоматичний розмір, заснований на утриманні елемента.*/
}


